<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="corp" value="http://nuget.corp.example.internal/v3/index.json" />
    <add key="retired" value="https://retired.example.internal/nuget" />
  </packageSources>
  <disabledPackageSources>
    <add key="retired" value="true" />
  </disabledPackageSources>
</configuration>
