AWSTemplateFormatVersion: "2010-09-09"
Resources:
  BuildRole:
    Type: AWS::IAM::Role
    Properties:
      Policies:
        - PolicyName: everything
          PolicyDocument:
            Statement:
              - Effect: Allow
                Action: "*"
                Resource: "*"
